<!DOCTYPE html>
<html lang="en">

<head>

	<title>Simple App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rich Stoner">

    <link rel=stylesheet type=text/css
          href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel=stylesheet type=text/css
          href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css">

	<style type="text/css">
		body {
            margin: 0px;
            padding: 0px;
        }

	</style>

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    {% block head %}

    {% endblock %}

</head>

<body>

		{% block body %}

        {% endblock %}

    {% block postjs %}

    {% endblock %}

</body>

</html>


